<%= form_with(model: @task, url: [ @project, @task ]) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, id: :task_priority %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, id: :task_deadline %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done, id: :task_done %>
  </div>
 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

