<!DOCTYPE html>
<html>
  <head>
    <title>My projects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.js') %>
  </head>

  <body>

    <!-- Header -->
<div class="allcontain">
  <div class="header">
      <ul class="givusacall">
        <li> mail us: miarhost@gmail.com </li>
      </ul>
      <ul class="logreg">
                <% if !user_signed_in? %>
                     
        <li><span><%= link_to 'Register', new_user_registration_path %></span> | </li>
        <li><span><%= link_to 'Login', new_user_session_path %></span> | </li>
                        <% else %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %> | </li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>                               
                      <% end %>    
         </ul>
  </div>
  <!-- Navbar Up -->
  <nav class="topnavbar navbar-default topnav">
    <div class="container">
      <div class="navbar-header">

        
      </div>   

    </div>
  </nav>
</div>
    <%= yield %>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
</html>
